<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>approxequal.case</key>
    <string>approxequal.case.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asciitilde.case</key>
    <string>asciitilde.case.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>bstem</key>
    <string>bstem.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.case</key>
    <string>divide.case.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>emptyset.case</key>
    <string>emptyset.case.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.case</key>
    <string>equal.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater.case</key>
    <string>greater.case.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>greaterequal.case</key>
    <string>greaterequal.case.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>infinity.case</key>
    <string>infinity.case.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logicalnot.case</key>
    <string>logicalnot.case.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minus.case</key>
    <string>minus.case.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.case</key>
    <string>multiply.case.glif</string>
    <key>nd.ord</key>
    <string>nd.ord.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>plusminus.case</key>
    <string>plusminus.case.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rd.ord</key>
    <string>rd.ord.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>st.ord</key>
    <string>st.ord.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>th.ord</key>
    <string>th.ord.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni0394</key>
    <string>uni0394.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
  </dict>
</plist>
